h3{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, sans-serif;
}

.articolo1 {
    background-color: lightyellow;
    transition: 0.3s;
}

.articolo2 {
    background-image: linear-gradient(120deg, lightyellow, lightblue);
}

.articolo1:hover {
    background-color: lightblue;
}